<?xml version="1.0"?>
<model>
    <name>iCub (with hands and cameras)</name>

    <version>1.0</version>
    <sdf version='1.5'>icub_with_hands_with_cameras.sdf</sdf>

    <author>
        <name>Claudio Fantacci, Silvio Traversaro, Daniele Domenichelli, Marco Randazzo</name>
        <email>claudio.fantacci@iit.it, silvio.traversaro@iit.it, daniele.domenichelli@iit.it, marco.randazzo@iit.it</email>
    </author>

    <description>
        Model of the iCub humanoid robot. For more information check icub.org .
    </description>
</model>
